# History files
*.Rhistory
*.Rapp.history

# R Environment Variables
*.Renviron
*.DS_Store
*DS_Store
.DS_Store

# Apple icloud files
*.icloud

# large data files
usa_ppp_2010.tif
usa_ppp_2010_1km_Aggregated.tif
wp_1km_county_aggregate_2010.RData

# tif and vrt
.tif
.vrt